################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DnD/.vs/DnD/v16
/DnD/obj
/DnD.UnitTests/bin/Debug/netcoreapp3.1
/DnD.UnitTests/obj
/DnD/bin/Debug
