################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DnD/.vs/DnD/v16
/DnD/obj
